@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  /* border: 2px solid black; */
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
}

:root {
  --default-font: 'Open Sans', sans-serif;
  --light-bg: #FFF8F3;
  --deep-bg: #FD6E0A;
  --dark-font: #181818;
  --semi-dark-font: #757575;
  --light-font: #474747;
  /* --test-border: 2px solid black; */
  /* --test-bg: cyan; */
}

.section-heading {
  color: var(--dark-font);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}


.primary-para {
  color: var(--light-font);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

.primary-btn {
  height: 64px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid var(--deep-bg);
  background: var(--deep-bg);
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  transition: background-color .1s ease-in-out;
  
}

.primary-btn:hover{
  background-color: #ff0c0c;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

.primary-btn:focus{
  border: 2px solid #000000;
}

/* header section style start */
header {
  display: flex;
  flex-direction: column;
  height: 837px;
  width: 100%;
  background-color: var(--light-bg);
  background-image: url('/images/developer.png'), url('/images/header_bg.png');
  background-repeat: no-repeat;
  background-position: 23px, right bottom;
}

nav {
  display: flex;
  justify-content: space-between;
  border: var(--test-border);
  background: var(--test-bg);
  margin: 50px 230px auto 226px;
}

nav .nickname {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

nav .nickname span {
  color: var(--deep-bg);
}

nav .links {
  display: flex;
  align-items: center;
  gap: 51px;
  cursor: pointer;
}

nav .links>p {
  color: var(--light-font);
  font-size: 20px;
  font-weight: 400;
}

/* nav section ends */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .profile-info h3 {
  color: var(--light-font);
  font-size: 45px;
  font-weight: 600;
}

.profile h1 {
  color: var(--dark-font);
  font-size: 85px;
  font-weight: 700;
  margin: 5px auto 20px auto;
}

.profile p {
  color: var(--light-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin-bottom: 30px;
}

.button-container{
  display: flex;

}

.button-container .download {
  padding: 19px 17px 18px 17px;
  margin-right: 30px;
}

.button-container .contact {
  color: #FD6E0A;
  background-color: rgba(255, 255, 255, 0);
  padding: 19px 23px 18px 24px;
}

.button-container .contact:hover{
  color: #ff0c0c;
  border: 1px solid #ff0c0c;
}

.profile-info {
  border: var(--test-border);
  background-color: var(--test-bg);
  min-width: 585px;
  margin: 0 0 50px 230px;
}

.profile-info>p{
  max-width: 580px;
}

.profile img {
  align-self: flex-end;
  border: var(--test-border);
  background-color: var(--test-bg);
  margin-right: 38px;
}

/* /header section done */

/* main section on */
main {
  width: 1140px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 130px;
  margin: auto;
  background-color: var(--test-bg);
}

main .about-me, main .what-i-do, main .summary-of-resume{
  border: 3px dotted rgba(255, 0, 234, 0);
}

/* about me section on */
.about-me {
  margin-top: 130px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 130px 8.15vw 130px 8.15vw;
  background: var(--light-bg);
}



.about-me>.primary-para {
  margin: 30px 0;
}

.bio-infos {
  justify-content: space-around;
  display: flex;
}

.bio-infos .primary-para {
  font-size: 20px;
}

.bio-infos h6 {
  font-weight: 700;
}

/* /about section done */
/* what-I-do section start */
.what-i-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-i-do .cart-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  border-radius: 5px;
}

.what-i-do .cart-container .cart {
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 32px 33px 30px 33px;
}

.what-i-do>p {
  max-width: 47.4vw;
  min-width: 35vw;
  margin: 30px auto 50px auto;
}

.what-i-do .cart-container .cart>p {
  text-align: left;
}

.what-i-do .cart-container .cart>h3 {
  margin: 28px 0 20px 0;
}

/* .what-i-do section ends */
/* A summary of my Resume section start */
.summary-of-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu-and-ex {
  display: flex;
  margin-top: 10.46vh;
  gap: 24px;
}

.edu-and-ex h5,
.edu-and-ex h6,
.edu-and-ex p {
  text-align: left;
}

.edu-and-ex h4,
.edu-and-ex h5 {
  color: var(--light-font);
  font-size: 30px;
  font-weight: 700;
}

.edu-and-ex h5 {
  font-size: 25px;
}

.edu-and-ex h6 {
  color: var(--semi-dark-font);
  font-size: 20px;
  font-weight: 600;
}

.edu-and-ex hr {
  height: 1px;
  /* Adjust this value to make the line thinner */
  border: none;
  background-color: #d1d1d1;
  ;
  /* Set the background color of the line */
  margin: 30px 0 30px 0;
}

.education>h4,
.experience>h4 {
  margin-bottom: 30px;
}

.edu-and-ex h6 {
  margin: 10px 0 20px 0;
}

.summary-of-resume .primary-btn {
  margin: 4.62vh auto 10.46vh auto;
}

/* summary of resume section ends as well as the main section */

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 780px;
  width: 100%;
  gap: 117px;
  background-color: var(--light-bg);
  border: var(--test-border);
  padding: 12.03vh;
}

footer .address p {
  max-width: 30vw;
  min-width: 25vw;
  color: var(--light-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  margin: 20px 0 30px 0;
}

.address>h2,
.message>h2 {
  text-align: left;
}

.message form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message form input,
.message form textarea {
  min-width: 461px;
  min-height: 64px;
  border-radius: 5px;
  background: var(--White-Color, #FFF);
  color: var(--Dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;  /* 175% */
  margin-bottom: 24px;
  border: 0;
}

.message form input:focus, .message form textarea:focus{
  border: 2px solid #ff0c0c;
}

.message form input{
  padding: 0 0 0 30px;
}

.message form textarea{
  padding: 18px 0 0 30px;
}

.message .section-heading{
  margin-bottom: 28px;
}